.contact{
    display: flex;
    background-color: #8cb0ec;
    color: white;
    justify-content: center;
    align-items: center;
    height:70px;

    .wrapper{
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        input{
            padding:10px;
            border: none;
            border-radius:5px 0 0 5px;

        }
        button{
            border-radius:0px 5px 5px 0;
            background: #333;
            padding: 10px;
            border: none;
            color:white;
        }
        .icons{
            color:white;
            gap: 10px;
            display: flex;
            .icon{
                color: white;
            }
        }
    }

}